body {
  height: 100%;
  width: 100%;
  background-color: ghostwhite;
  margin: 0;
}

/* Navbar */

.navbar {
  background-color: #00c0c0;
  position: sticky;
  padding-bottom: 1em;
  top: 0;
  height: 100%;
}

.navbar a {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  color: black;
  font-size: 1.5em;
  margin: 0;
  text-decoration: none;
}

.navbar #logo {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.navbar a img {
  height: 40px;
  padding-left: 1em;
  padding-right: 0.5em;
  position: relative;
  top: 10px;
}

.navbar a:hover {
  color: white;
}

.bigimg {
  width: 85%;
}

/* Elements */

hr {
  border: none;
  height: 0.3em;
  background-color: #00c0c0;
  margin-left: 50px;
  margin-right: 50px;
}

input {
  color: #042743;
  background-color: #00c0c0;
  font-size: 1.25em;
  margin-left: 50px;
  margin-right: 50px;
}

/* Text Stuff */

a {
  color: #00c0c0;
  font-family: "Roboto Slab", Roboto, Helvetica, sans-serif;
}

a:hover {
  color: #00c080;
}

img {
  margin-left: 50px;
}

ul {
  list-style-type: "–  ";
}

li {
  color: #000000;
  font-size: 1.5em;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto Slab", Roboto, Helvetica, sans-serif;
}

p {
  font-size: 1.5em;
  color: #000000;
  margin-left: 50px;
  margin-right: 50px;
  font-family: "Roboto Slab", Roboto, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
  color: #00c0c0;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Roboto, Helvetica, sans-serif;
}

h2 {
  font-size: 2.5em;
  color: #00c0c0;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Roboto, Helvetica, sans-serif;
}

h3 {
  font-size: 2em;
  color: #00c0c0;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Roboto, Helvetica, sans-serif;
}

h4 {
  font-size: 1.5em;
  color: #00c0c0;
  margin-left: 50px;
  margin-right: 50px;
  font-family: Roboto, Helvetica, sans-serif;
}
